# Python
__pycache__/
*.pyc
.venv/
venv/
venv_proyecto/

#Caché
.cache
.cache.sqlite
# Env
.env

# Data outputs
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
# Remove if needed to perform tests
*.csv
*.parquet
*.pb

# OS
.DS_Store

#json
.json

#csv
.src/eventos/.csv

# Google OAuth secrets
.src/alertas_oficiales_tiempo_real/token.json
.src/alertas_oficiales_tiempo_real/credentials.json
